.bill{
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 10px 10px;
}

.grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info{
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 0 5px;
}
