<div class="category">  
    <div class="grid" style="grid-template-columns: 1fr 1fr;">
        <div >
            <label class="label">{{category.category}}</label>
        </div>
        <div>
            <button class="button" style="width: 100%" (click)="assignProductToCategory()">Dodeli artikal</button>
            <button class="button" style="width: 100%" (click)="toggle()">Dodaj potkategoriju:</button>
        </div>
    </div>
    <hr>
    <div>
        <div *ngIf="addSubCategory">
            <form [formGroup]="form" (ngSubmit)="addNewItemSubCategory()">
                <div class="grid" style="grid-template-columns: 3fr 1fr;">
                    <div>
                        <input id="cat" type="text" class="input" formControlName="subCategory">
                        <div *ngIf="form.controls['subCategory'].invalid && (form.controls['subCategory'].dirty || form.controls['subCategory'].touched || isSubmitted)" class="alert">
                            <div *ngIf="form.controls['subCategory'].errors['required']">
                                Niste uneli ime potkategorije.
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="button" style="width: 100%;">Dodaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <label class="label">Potkategorije:</label>
        <hr>
        <div *ngIf="category.subCategories.length">
            <div *ngFor="let sub of category.subCategories" class="subcategory">
                <label class="label">-{{sub.subCategory}}</label>
                <button class="button" style="width: 100%;" (click)="assignProductToSubcategory(sub)">Dodeli artikal</button>
            </div>
        </div>
        <div *ngIf="!category.subCategories.length">
            <label>Nema potkategorija</label>
        </div>
    </div>  
</div>
